#footer{
  color: white;
  font-size: 15px;

  margin-top: 40px;
}
#redes{
  display: flex;
  justify-content: center;
  align-items: center;
}
#direitos{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  #footer{
      margin-top: -85px;
  }
}
