<div class="conteiner">
  <h1>
    Welcome!
  </h1>
  <form class="forms">
    <div class="single-input">
      <input type="text" name="text" id="user" class="input" required  autocomplete="off" maxlength="60">
      <label for="text">User</label>
    </div>
    <div class="single-input">
      <input type="email" name="email" id="email" class="input" required  autocomplete="off" maxlength="60">
      <label for="email">Email</label>
    </div>
    <div class="single-input">
      <input type="password" name="password" id="password" class="input" required autocomplete="off" maxlength="12">
      <label for="password">Password</label>
    </div>
    <input type="button" value="Register" class="button">
  </form>
  <div class="middle">
  </div>
  <div class="conections">
    <div class="google-btn">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://user-images.githubusercontent.com/81640351/210457563-02b7a483-b8bf-48ed-87d1-05cb0be4264a.svg"/>
      </div>
      <p class="google-btn-text"><b>Sign up with google</b></p>
    </div>
    <div class="apple-btn">
      <div class="apple-icon-wrapper">
        <img class="apple-icon" src="https://user-images.githubusercontent.com/81640351/210457508-019fd8e9-f09f-4480-a2b3-298312d732d2.png"/>
      </div>
      <p class="apple-btn-text"><b>Sign up with apple</b></p>
    </div>
  </div>
  <div class="sign-in">
    <h3 class="sign-in-text">
      Already have registration?
    </h3>
    <a href="" class="sign-in-link">
      Sign-In
    </a>
  </div>
</div>

